@media (max-width : 599px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
      }
      :root {
        --darkcolor: #001c30;
        --fewdarkcolor: #176b87;
        --fewlightcolor: #64ccc5;
        --lightcolor: #dafffb;
        --background: #f3fefd;
      }
      ul li {
        list-style: none;
      }
      a {
        color: var(--lightcolor);
        text-decoration: none;
      }
      .container {
        width: 90%;
        margin: auto;
      }
      header {
        height: fit-content;
        background-color: var(--darkcolor);
        color: var(--lightcolor);
        display: flex;
        align-content: center;
      }
      .header-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
      }
      .header-content nav {
        display: flex;
        flex-wrap: wrap;
        
      }
      .head-logo {
        font-size: 32px;
        margin-bottom: 20px;
      }
      header nav ul#user-info {
        display: none;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
      header nav ul#user-info li {
        position: relative;
      }
      header nav ul#user-info li i {
        font-size: 30px;
        cursor: pointer;
        margin: 20px;
      }
      header nav ul#user-info li i::after {
        content: "";
        top: 0;
        right: 0;
        position: absolute;
        border: 3px solid var(--fewlightcolor);
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
      header nav ul#user-info .cards-products {
        position: absolute;
        display: none;
        width: 200px;
        background-color: var(--fewdarkcolor);
        color: var(--lightcolor);
        transform: translate(-35%, 0);
        padding: 10px;
        top: 35px;
        left: -120px;
        border-radius: 10px 15px;
        z-index: 2;
        border: 2px solid var(--fewlightcolor);
      }
      header nav ul#user-info .cards-products a {
        margin: 0;
      }
      .card-item {
        background-color: #001c3066;
        color: var(--background);
        padding: 5px;
        margin: 10px 0;
        border-radius: 10px;
        font-weight: bold;
      }
      header nav ul#user-info li span {
        background-color: var(--fewdarkcolor);
        color: var(--lightcolor);
        height: 20px;
        width: 20px;
        display: none;
        text-align: center;
        line-height: 20px;
        position: absolute;
        border-radius: 10px;
        right: 10px;
        top: 10px;
      }
      #logout {
        background-color: #f44336;
        /* margin-left: 1px; */
      }
      header nav ul li a {
        display: block;
        min-width: 100px;
        margin: 10px;
        text-align: center;
        background-color: var(--fewlightcolor);
        padding: 10px;
        border: 5px;
        border-radius: 3px;
        color: var(--darkcolor);
        transition: opacity 0.5s;
      }
      header nav ul li a:hover {
        opacity: 0.8;
      }
      body {
        background-color: var(--background);
      }
      #links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 30px;
      }
      #links li {
        margin: 0;
      }
      /* ****************FORM CSS**************** */
      
      .from-container {
        width: 90%;
        margin: auto;
      }
      .section-form {
        margin-top: 50px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--fewlightcolor);
        text-align: center;
      }
      .section-form h2 {
        color: var(--darkcolor);
        font-size: 50px;
        letter-spacing: 2;
      }
      .section-form input {
        display: block;
        padding: 10px;
        width: 100%;
        margin: 15px 0;
        border: 0;
        outline: 0;
        background-color: var(--lightcolor);
        border-radius: 5px;
      }
      .section-form input[type="submit"] {
        background-color: var(--darkcolor);
        font-size: 20px;
        margin: 15px auto;
        color: var(--lightcolor);
        transition: opacity 0.5s;
      }
      .section-form input[type="submit"]:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      .err {
        color: rgb(255, 106, 106);
        font-size: 18px;
        background: #ff000055;
      }
      /* **************Product CSS************** */
      .home {
        width: 90%;
        margin: 20px auto;
      }
      /* .products{
              transform: translate(-30% ,0);
          } */
      .product-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--fewdarkcolor);
        color: #e1fffc;
        margin-bottom: 15px;
        min-height: 150px;
        position: relative;
      }
      .product-item a {
        color: #001c30;
        font-weight: bold;
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
      }
      .product-item-img {
        width: 100%;
      }
      .product-item-desc {
        line-height: 30px;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
      }
      .product-item-action {
        flex: 1;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
      }
      .product-item .add-to-card {
        display: block;
        border: 0;
        background-color: #64ccc5;
        color: #001c30;
        height: 40px;
        width: 140px;
        margin-left: auto;
        transition: opacity 0.5s;
      }
      .deleteProduct {
        display: block;
        border: 0;
        background-color: #d2392e;
        color: #fff;
        height: 40px;
        width: 100px;
        margin-left: auto;
        transition: opacity 0.5s;
      }
      .product-item i {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 20px;
        cursor: pointer;
        font-size: 20px;
        /* margin-right: auto;
              margin: 5px; */
      }
      .product-item .add-to-card:hover,
      .deleteProduct:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      .noProducts {
        display: none;
      }
      
      #filter-size {
        display: block;
        width: 250px;
        height: 40px;
        margin-left: auto;
        background-color: #dafffb;
        color: #001c30;
        border: 0;
        outline: 0;
        padding: 10px;
        border-bottom: 2px solid var(--darkcolor);
        border-radius: 5px;
      }
      .item-details {
        display: grid;
        grid-template-areas: "img img img des des";
        margin: 20px 0;
      }
      
      .item-details img {
        grid-area: img;
        margin-right: 30px;
        border: 1px solid #001c30;
        padding: 3px;
        width: 500px;
        height: 500px;
      }
      .item-desc {
        padding: 30px;
        width: 500px;
        height: 300px;
        grid-area: des;
      }
      .item-desc h2 {
        margin: 10px 0;
      }
      #search {
        display: block;
        width: 100%;
        height: 40px;
        border: 0;
        outline: 0;
        margin: 10px 0;
        padding: 10px 30px;
        font-size: 18px;
        border-radius: 20px;
        background-color: var(--lightcolor);
        border-bottom: 2px solid #001c30;
      }
      
      #search::placeholder {
        color: #001c30;
      }
      .quantity-price {
        display: inline-block;
        background-color: var(--darkcolor);
        color: #f3fefd;
        padding: 5px;
        line-height: 11px;
        margin-left: 5px;
      }
      /**************Create Product**************/
      .create-product-page {
        width: 90%;
        margin: auto;
      }
      .create-product-page form {
        margin-top: 50px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: var(--fewlightcolor);
        text-align: center;
      }
      .create-product-page form h2 {
        font-size: 30px;
        font-weight: bold;
      }
      .input-create {
        width: 100%;
        height: 40px;
        border: 0;
        outline: 0;
        margin: 0 auto;
        padding: 10px;
        font-size: 18px;
        border-radius: 10px;
        background-color: var(--lightcolor);
        border-bottom: 2px solid #001c30;
      }
      input[type="file"] {
        padding: 4px 10px;
        margin-left: 0%;
      }
      input[type="file"]::file-selector-button {
        background-color: var(--darkcolor);
        border: 0;
        outline: 0;
        color: #dafffb;
        padding: 5px;
        border-radius: 5px;
      }
      .upload-image-label {
        text-align: left;
        font-size: 18px;
      }
      #createBtn {
        background-color: #001c30;
        color: var(--background);
        cursor: pointer;
        font-size: 24px;
        line-height: 20px;
        font-weight: bold;
      }
      .create-product-icon {
        position: fixed;
        right: 35px;
        bottom: 35px;
        padding: 20px;
        color: var(--background);
        background-color: var(--darkcolor);
        font-size: 30px;
        border-radius: 50%;
        transition: opacity 0.5s;
      }
      .create-product-icon:hover {
        opacity: 0.8;
      }
      .btn-edit {
        display: block;
        border: 0;
        height: 40px;
        width: 120px;
        font-size: 16px;
        color: var(--darkcolor);
        background-color: var(--fewlightcolor);
        border-radius: 5px;
        cursor: pointer;
      }
      .btn-edit:hover {
        opacity: 0.8;
      }
      .item-quantity {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: var(--fewdarkcolor);
        color: #fff;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        font-size: 12px;
        right: 20px;
        position: absolute;
      }
      .profile-page img {
        max-width: 200px;
        max-height: 200px;
        margin: 30px 0;
        border-radius: 50%;
      }
      .profile-page .profile-details p {
        margin: 20px 0;
      }
      /* .profile-details{
              margin: 0 40px;
          } */
      #editProfileBtn {
        color: var(--darkcolor);
        background-color: var(--fewlightcolor);
        padding: 10px;
        border-radius: 5px;
      }
      
}